/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/
	
	#nav
	{
		text-align: center;
	}
	
		#nav a
		{
			margin: 0 0.25em 0 0.25em;
			opacity: 0.35;
			outline: 0;
			text-decoration:none;
		}

			#nav a:after
			{
				content: '';
				display: block;
				-moz-transition: border-bottom-width .25s ease-in-out;
				-webkit-transition: border-bottom-width .25s ease-in-out;
				-o-transition: border-bottom-width .25s ease-in-out;
				-ms-transition: border-bottom-width .25s ease-in-out;
				transition: border-bottom-width .25s ease-in-out;
			}
		
			#nav a span
			{
				display: block;
				position: absolute;
				/* background: #222222; */
				/* color: #fff; */
				top: 0.3em;
				font-size: 0.5em;
				opacity: 0;
				padding-top: 0.1em;
				padding-bottom: 0.2em;
				font-family: inherit;

				width: 5em;
				margin-left: -1.2em;

			}
			
				#nav a span:after
				{
					content: '';
					display: block;
					position: absolute;
					bottom: -0.4em;
					left: 50%;
					margin-left: -0.6em;
					border-top: solid 0.6em #222222;
					border-left: solid 0.6em transparent;
					border-right: solid 0.6em transparent;
				}

			#nav a:hover
			{
				opacity: 1.0;
			}

				#nav a:hover span
				{
					opacity: 1.0;
				}	
			
			#nav a.active
			{
				opacity: 1.0;
			}
