vti_encoding:SR|utf8-nl
vti_author:SR|PFTSTA\\lsmith
vti_modifiedby:SR|PFTSTA\\lsmith
vti_timelastmodified:TR|14 Mar 2014 15:16:12 -0000
vti_timecreated:TR|21 Feb 2014 15:20:39 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Coding.html Raster_Design.html Copyright.html Optimization.html Vector_Design.html index.html
vti_nexttolasttimemodified:TW|12 Mar 2014 14:38:45 -0000
vti_cacheddtm:TX|14 Mar 2014 15:16:12 -0000
vti_filesize:IR|1677
